@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* font-family: 'Oswald', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Inter', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

.center {
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
}

.search {
  font-size: 14px;
  font-weight: 300;
  border: none;
  height: 30px;
  border-radius: 4px;
  margin-top: 2px;
  font-family: "Inter", sans-serif;
}

.logo_inner {
  background-color: #f5c518;
  padding: 2px 12px;
  font-weight: 700;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

.logo {
  margin-right: 15px;
}

.list {
  cursor: pointer;
  padding: 5px 15px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

.sidebar {
  background-color: rgba(78, 78, 78, 0.63);
  height: 35px;
  width: 2px;
  margin: 0 7px;
  /* margin-top: 2px; */
}

.signin {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  /* background-color: red; */
  padding: 6px 15px;
  cursor: pointer;
}

.main {
  background-color: black;
  /* later change it */
  /* height: 100vh; */
  /* overflow-y: scroll; */
  padding-bottom: 50px;
}

.main_container {
  /* background-color: red; */
  padding: 7vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main_heading {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 600;
  color: white;
}

.main_para {
  margin-top: 15px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.container {
  /* background-color: red; */
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    )
    /* ,radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%); */
}

.gradient-bg-services {
  background-color:#000000;
  background-image: 
    radial-gradient(at 100% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgba(90, 95, 46, 0.637) 0, transparent 50%);
}

.card_container {
    width: 20vh;
    /* background-color: rgba(94, 94, 94, 0.274); */
    background-color: #0f0909;
    /* height: 40vh; */
    border-radius: 3px;
    margin-bottom: 25px;
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card_inner {
    background-color: #0f0e13;
    width: 20vh;
    height: 28vh;
}

.bottom_section {
    padding: 7px 9px;
}

.view_more {
    background-color: rgba(70, 69, 69, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.view_more_cont {
    color: #5799EF;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.movie_name {
    color: white;
    font-family: 'Inter', sans-serif;
}

.rate {
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    /* background-color: red;/ */
}

.font2 {
  font-family: 'Inter', sans-serif;
}

.rating {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 7px;
  margin-bottom: 5px;
}

.watch_container {
  background-color: black;
  /* height: 50vh; */
  padding-bottom: 50px;
}

.watch_inner {
  /* background-color: red; */
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 65%;
  
}

.watch_header {
  display: flex;
  justify-content: space-between;
}

.watch_left {
  /* background-color: yellow; */
  font-size: 38px;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch_info {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.644);
}

.gray_title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.watch_info_inner {
  /* margin-top: -5px; */
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}

.watch_rating {
}

.star {
  margin-right: 7px;
}

.your_rating {
  color: #5799EF;
  font-weight: 700;
  font-size: 18px;
  margin-top:5px;
}

.movie_details_container {
  /* background-color: red; */
  padding-top: 20px;
  display: flex;
  /* justify-content: space-between; */
}

.md_poster {
  width: 30vh;
  height: 40vh;
}

.md_left {
  /* background-color: #1a1a1a; */
  margin-right: 25px;
}

.md_right {
  width: 70%;
}

.md_title {
  width: 100%;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 0.877);
}

.name {
  color: #5799EF;
  font-family: 'Inter', sans-serif;
  margin-left: 8px;
  font-weight: 500;
}

.description {
  color: white;
  font-family: 'Inter', sans-serif;
}

.wm_main {
  /* background-color: red; */
  width: 65%;
  padding: 30px 40px;
}

.wm_stick {
  width: 5px;
  height: 40px;
  background-color: #f5c518;
}

.wm_header {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.wm_title {
  font-size: 32px;
  margin-left: 10px;
  font-weight: 600;
}

.cast_inner {
  /* background-color: red; */
  margin-top: 20px;
  font-family: 'Inter', sans-serif; 
  width: 60%;
}

.cast_name {
  font-family: 'Inter', sans-serif; 
  font-weight: 700;
}

.cast_real_name {
  font-family: 'Inter', sans-serif; 
  color: gray;
  font-weight: 500;
}

.cast_user {
  margin-right: 10px;
  margin-top: 7px;
}

.gray {
  color: gray;
}

.review {
  border: 1px solid rgba(187, 183, 183, 0.507);
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  padding-top: 15px;
}

.username {
  font-weight: 700;
  font-size: 14px;
  background-color: #f5c518;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: 'Inter', sans-serif;
}

.like_container {
  display: flex;
}


.read {
  font-family: 'Inter', sans-serif;
}

.like_container {
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
}

.like {
  font-size: 14px;
  display: flex;
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-right: 15px;
  cursor: pointer;
}

.dislike {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.comment {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}